# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.sln
*.csproj

# OS
.DS_Store
Thumbs.db

# Unity packages
*.apk
*.aab
*.unitypackage
